%html
  %head
    %title My homepage
  %body
    %div id="main"
      %div id="menu" class="left column"
        %p Under construction
      %div id="content" class="right column"
        %h1 Hello world!!1
        %p Thank's for visiting my lovely homepage